<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Choose city from list to know weather info</h1>
    <div id="option">
        <form action="/home" method="POST">
            <select name="city" id="city" onchange="showDetails()">
                <option value="mumbai">Mumbai</option>
                <option value="delhi">Delhi</option>
                <option value="pune">Pune</option>
                <option value="bangalore">Bangalore</option>
                <option value="hyderabad">Hydrabad</option>
            </select>
            <button type="submit">
                submit
            </button>
        </form>
    </div>
    <div>
        <h1><%= city %></h1>
        <h2><%= status %></h2>
        <h2><%= temp%>&deg;C</h2>
        <h2>Min:<%= min %>&deg;C | Max: <%= max%>&deg;C</h2>
    </div>
</body>
</html>